language: go
go:
  - 1.13

services:
  - docker

# Install operator-sdk
env:
  - RELEASE_VERSION=v0.16.0

before_install:
- curl -OJL https://github.com/operator-framework/operator-sdk/releases/download/${RELEASE_VERSION}/operator-sdk-${RELEASE_VERSION}-x86_64-linux-gnu
- chmod +x operator-sdk-${RELEASE_VERSION}-x86_64-linux-gnu && sudo cp operator-sdk-${RELEASE_VERSION}-x86_64-linux-gnu /usr/local/bin/operator-sdk && rm operator-sdk-${RELEASE_VERSION}-x86_64-linux-gnu
- mkdir -p ${HOME}/gopath/src/github.com/kabanero-io/kabanero-operator
- rsync -az ${TRAVIS_BUILD_DIR}/ $HOME/gopath/src/github.com/kabanero-io/kabanero-operator
- export TRAVIS_BUILD_DIR=$HOME/gopath/src/github.com/kabanero-io/kabanero-operator
- cd ${HOME}/gopath/src/github.com/kabanero-io/kabanero-operator
- if [ ! -z ${DOCKER_USERNAME} ]; then docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD || true; fi

# Build the kabanero-operator
script:
- make check
- make build-image

# Conditionally push, build, push for the kabanero-operator-registry
before_deploy:
- provider: script
  script:
  - make push-image
  - .travis/pre_build_image.sh
  - make build-registry-image
  - make push-registry-image
  - .travis/prepare_release.sh
  on:
     tags: true
     condition: ${DOCKER_USERNAME} && ${DOCKER_PASSWORD}
- provider: script
  script:
  - make push-image
  - .travis/pre_build_image.sh
  - make build-registry-image
  - make push-registry-image
  - .travis/prepare_release.sh
  on:
     branch: master
     condition: ${DOCKER_USERNAME} && ${DOCKER_PASSWORD}

# Publish release
deploy:
- provider: releases
  api_key: 
    secure: "oYX+vkYZbMPD6ZrTfgpgG0Hxug9jUP6ogVEEOQJnRw+eU7qUAfZT2pyl7fLwfMVUAum/Gp/uWRXYbohCxtyV18VIjBMbM4lsTrWSrggzq6JlMOd/J8Fx/BkWHDFQ0nx4MlDL8BdJbhUjrSleOKp8mW+yJhxuaq1z87svjZ6jxZeaGRTo5jxBcAmATB+VOKUm0z7cxoZC1p0IyQYhAPEVJ2GQd2/jDhRCJvTp99WTgg5PmUA350rSIObzB1Tf+o+gmUCl+Yi3fE1ITTeGU/lam0CXGGMZnDJVeDg6NGmP2f9hbYGyb5yim2xQoIUOgB21XNRRFydhTZaNy4saHaay5EL4KFDvDZ5CLBEr0y9GF9ODi2hNZ1QmlQ6S+HSQ8KXAKNC1kEYnF2N5f7uakEBtwvr4Y+1AtCFSc9bjPlgy3uGWGgTCjy/swchf8fMp56SmocLHII4enj5ESTGvn2t8efjCq13/sGZJSOKrQ+1CLUlPyG+zi/O456umMBx203rFRaNMkb+aZFFt/nQNzF/kSXegfpV9x70bZPQvqWbZ30jZX7UxaxGef/f+IjDPYvz8aEKA0HZH7goEQfFOZ8NAakZEPyd+I82yQJykAYsXHTMgiAj1VUetQCNqvKUtWp2aG0FtYiTo3uO1f/efq9+Ah8TJcCwyNcUCspScc8owOtI="
  file: 
    - "deploy/kabanero-subscriptions.yaml"
    - "deploy/kabanero-customresources.yaml"
    - "deploy/install.sh"
    - "deploy/uninstall.sh"
    - "config/samples/default.yaml"
    - "config/samples/full.yaml"
  skip_cleanup: true
  on:
    repo: kabanero-io/kabanero-operator
    tags: true

cache:
  directories:
    - ${HOME}/gopath/pkg/mod
