apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: kabaneros.kabanero.io
spec:
  group: kabanero.io
  names:
    kind: Kabanero
    listKind: KabaneroList
    plural: kabaneros
    singular: kabanero
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            collections:
              properties:
                repositories:
                  items:
                    properties:
                      activateDefaultCollections:
                        type: boolean
                      name:
                        type: string
                      url:
                        type: string
                    type: object
                  type: array
              type: object
            tekton:
              properties:
                disabled:
                  type: boolean
                version:
                  type: string
              type: object
            version:
              type: string
          type: object
        status:
          properties:
            tekton:
              properties:
                status:
                  type: string
              type: object
          type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
