# Maps Kabanero platform version to related component versions
# understood by the other operators. 

# Note the following sequence: the Kabanero operator becomes aware
# of a new version of the Kabanero platform, in part by editing this file
# Once the operators are rolled out, the administrator can choose to use
# the new Kabanero version by editing the Kabanero resource. This causes
# other resources to be updated using this mapping

# When the Kabanero instance does not specify which version of Kabanero to use,
# this is the value
default: "0.6.0"

# Top level: relates Kabanero versions to software versions
kabanero:
- version: "0.6.0"
  related-versions: 
    cli-services: "0.6.0"
    landing: "0.5.0"
    events: "0.1.0"
    collection-controller: "0.6.0-rc.1"
    stack-controller: "0.6.0-rc.1"
    admission-webhook: "0.6.0-rc.1"
    sso: "7.3.2"
    codeready-workspaces: "0.6.0"

related-software:
  landing:
  - version: "0.5.0"
    orchestrations: "orchestrations/landing/0.1"
    identifiers:
      repository: "kabanero/landing"
      tag: "0.5.0"

  cli-services: 
  - version: "0.6.0"
    orchestrations: "orchestrations/cli-services/0.1"
    identifiers:
      repository: "kabanero/kabanero-command-line-services"
      tag: "0.6.0-rc.3"

  codeready-workspaces:
  - version: "0.6.0"
    orchestrations: "orchestrations/codeready-workspaces/0.1"
    identifiers:
      devfile-reg-repository: "kabanero/che-devfile-registry"
      devfile-reg-tag: "0.8.0"

  events:
  - version: "0.1.0"
    orchestrations: "orchestrations/events/0.1"
    identifiers:
      repository: "kabanero/kabanero-events"
      tag: "0.1"

  collection-controller: 
  - version: "0.6.0-rc.1"
    orchestrations: "orchestrations/collection-controller/0.1"
    identifiers:
      repository: "kabanero/kabanero-operator-collection-controller"
      tag: "0.6.0-rc.1"

  stack-controller: 
  - version: "0.6.0-rc.1"
    orchestrations: "orchestrations/stack-controller/0.1"
    identifiers:
      repository: "kabanero/kabanero-operator-stack-controller"
      tag: "0.6.0-rc.1"

  admission-webhook:
  - version: "0.6.0-rc.1"
    orchestrations: "orchestrations/admission-webhook/0.2"
    identifiers:
      repository: "kabanero/kabanero-operator-admission-webhook"
      tag: "0.6.0-rc.1"

  sso:
  - version: "7.3.2"
    orchestrations: "orchestrations/sso/0.1"
