# Maps Kabanero platform version to related component versions
# understood by the other operators. 

# Note the following sequence: the Kabanero operator becomes aware
# of a new version of the Kabanero platform, in part by editing this file
# Once the operators are rolled out, the administrator can choose to use
# the new Kabanero version by editing the Kabanero resource. This causes
# other resources to be updated using this mapping

# When the Kabanero instance does not specify which version of Kabanero to use,
# this is the value
default: "0.3.0"

# Top level: relates Kabanero versions to software versions
kabanero:
- version: "0.4.0"
  related-versions: 
    cli-services: "0.3.0"
    landing: "0.3.0"
    kabanero-che: "0.6.0"
    webhook: "0.1.0"
    admission-webhook: "0.4.0"
- version: "0.3.0"
  related-versions: 
    cli-services: "0.3.0"
    landing: "0.3.0"
    kabanero-che: "0.6.0"
    webhook: "0.1.0"
    admission-webhook: "0.3.0"

related-software:
  landing:
  - version: "0.3.0"
    orchestrations: "orchestrations/landing/0.1"
    identifiers:
      repository: "kabanero/landing"
      tag: "0.3.0"

  cli-services: 
  - version: "0.3.0"
    orchestrations: "orchestrations/cli-services/0.1"
    identifiers:
      repository: "kabanero/kabanero-command-line-services"
      tag: "0.3.0"

  kabanero-che:
  - version: "0.6.0"
    orchestrations: "orchestrations/che/0.1"
    identifiers:
      eclipseCheTag: "7.3.1"
      repository: "kabanero/kabanero-che"
      tag: "0.6.0"

  webhook:
  - version: "0.1.0"
    orchestrations: "orchestrations/webhook/0.1"
    identifiers:
      repository: "kabanero/kabanero-webhook"
      tag: "0.1"

  admission-webhook:
  - version: "0.3.0"
    orchestrations: "orchestrations/admission-webhook/0.1"
    identifiers:
      repository: "kabanero/kabanero-operator-admission-webhook"
      tag: "0.3.0"
